html,body,#app{
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.el-card {
  margin-top: 15px;
}
.el-pagination {
  margin-top: 15px;
}
.el-table {
  margin-top: 15px;
}
::-webkit-scrollbar {
 width: 0 !important;
}
::-webkit-scrollbar {
 width: 0 !important;height: 0;
}
.el-step__title {
  font-size: 13px !important;
}